[submodule "riscv-toolchain/riscv-gnu-toolchain"]
	path = riscv-toolchain/riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git

[submodule "riscv-toolchain-new/riscv-gnu-toolchain-new"]
	path = riscv-toolchain-new/riscv-gnu-toolchain-new
	url = https://github.com/ajklg/riscv-gnu-toolchain.git
